@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 830px) {
  .headerCategory {
    display: none;
  }
}

@media (max-width: 1171px) {
  .serachInputSection {
    display: none;
  }
}

@media (max-width: 1500px) {
  .headerCategory {
    margin-right: 20rem;
  }
}
@media (max-width: 320px) {
  .logo {
    width: 5rem;
  }
}

@media (max-width: 1171px) {
  .headerCategory {
    margin-right: 0;
  }
}

@media (max-width: 1100px) {
  .signImage {
    display: none;
  }
}

@media (max-width: 1140px) {
  .logImage {
    display: none;
  }
}

@media (max-width: 1327px) {
  .headerImage {
    display: none;
  }
}
@media (max-width: 830px) {
  .headerImage1 {
    display: none;
  }
}
@media (max-width: 830px) {
  .hamburgerButton {
    display: block;
  }
}

@media (max-width: 320px) {
	.phoneImg {
		display: block;
	}
}
@media (max-width: 375px) {
	.phoneImg {
		display: block;
	}
}
@media (max-width: 425px) {
	.phoneImg {
		display: block;
		width: 20rem;
	}
}

::-webkit-scrollbar {
	margin-top: 4.1rem;
	width: 12px;

}
::-webkit-scrollbar-track {
	margin-top: 4.1rem;
	width: 12px;

}

::-webkit-scrollbar-thumb {
	background: #d5d6da;
	width: 12px;
}
